<!DOCTYPE html>
<html>
    
    <head>
        <title>Raaka-aineet</title>
    </head>
    
    <body>
        <h1>Raaka-aineet</h1>
        <p> Lista jo olemassa olevista raaka-aineista:</p>
        
        
        <ul>
            <li th:each="arvo : ${lista}">
                <p>
                <span th:text="${arvo.nimi}"> </span>
                <form method = "POST" th:action="@{~/raakaaine/{arvoId}/delete(arvoId=${arvo.id})}"><input type="submit" value="Poista" /></form>
                </p>
            </li>
        </ul>
        
        <br>
        <p> Lisää raakaaineita:</p>
        <form method="POST" action="/raakaaine">
            <input type="text" name="raakaaine"/><br/>
            <input type="submit" value="Lisää"/>
        </form>
        
        
        <br>
        <br>
        <p><a href="/home"> Takaisin menuulle </a></p>

        

        
    </body>
    
</html>
