<!DOCTYPE html>
<html>
    
    <head>
        <title>Raaka-aine Tilasto</title>
    </head>
    
    <body>
        <h1>Raaka-aine tilasto</h1>
        <p> Käytetyt raaka-aineet:<p>
        
        
        <ul>
            <li th:each="arvo : ${lista}">
                <p>
                <span th:text="${arvo.nimi}"> </span>
                on käytetty
                <span th:text="${arvo.maara}"> </span>
                annoksessa
                </p>
            </li>
        </ul>

        <br>
        <p><a href="/home"> Takaisin menuulle </a></p>

        

        
    </body>
    
</html>
